/* Inter font */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Noto Serif font */

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* General Styles */
.flo-font-color {
    color: #E95A08;
}
/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 30px;
}

.nav-logo img {
    height: 50px;
}

.nav-btns {
    display: flex;
    gap: 48px;
}

.nav-anchor {
    text-decoration: none;
    color: #8987A1;
    font-weight: regular;
}
#home {
    color: #252432;
    font-weight: 600;
}
.nav-anchor:hover {
    color: #252432;
}
/* Banner Styles */
.banner {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;    
}
.banner-content {
    max-width: 50%;
}
.banner-content h1 {
    font-size: 65px;
    color: #252432;
    font-weight: bold;
}
.banner-content p {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.banner-img{
    height: auto;
}
/* Plant Section */
.plants {
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
}
.plants-content {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 120px;
}
.plants-content h2 {
    font-size: 40px;
    color: #252432;
    font-weight: bold;
    text-align: center;
}
.plants-content p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
.plants-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;  
    margin-top: 2px;
}
.card {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    
}
.p-btn{
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 270px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.p-n {
    font-size: 22px;
    color: #252432;
    font-weight: 500;
    margin-top: 30px;
}
.p-p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
/* Plant lover section */
.plant-lover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;

}
.plant-lover-content {
    display: block;
}
.plant-lover-content h1 {
    font-size: 50px;
    font-weight: bold;
}
.plant-lover-content li {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.plant-lover-img {
    
}
/* Join section */
.join {
    background-image: url("/Assignment2/assets/news-letter-bg.png");
    background-size: cover;
}
.join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    margin-left: 150px;
    margin-right: 150px;
}
.join-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
}
.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.join-content input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
}
.join-content button {
    background-color: #E95A08;
    color: #FFFFFF;
    border: none;
    width: 186px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-top: 16px;
}
/* Footer styles */
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer ul{
    list-style: none;
    text-decoration: none;
}
footer a {
    text-decoration: none;
    color: #8987A1;
}
.list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* media query */
@media (max-width: 393px) {
    /* navbar responsive */
    .navbar {
        justify-content: space-between;
        margin : 13px 16px 28px 16px;
    }
    .vanish {
        display: none;
    }
    .nav-anchor {
        color: #252432;
        font-weight: 600;
    }
    /* Banner section responsive */
    .banner {
        flex-direction: column-reverse;
        align-items: stretch;
        margin: 0px;
    }
    .banner-content{
        width: 361px;
        height: 147px;
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
        max-width: 100%;
    }
    .banner-content h1{
        font-size: 24px;
        font-weight: bold;
    }
    .banner-content p {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }
    .banner-img img{
        width: 100%;
    }
    /* Plant section responsive */
    .plants-cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    /* Plant lover section responsive */
    .plant-lover {
        flex-direction: column;
        align-items: left;
        gap: 20px;
        margin: 0px;
    }
    /* Join section responsive*/
    .join-content input {
        width: auto;
        height: 50px;
        font-size: 16px;
        margin-top: 20px;
    }
    /* footer section responsive*/
    footer {
        display: grid;
        align-items: left;
        gap: 20px;
    }
    .list-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}